/*########################## General Rules #############################3*/
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cabin', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/*############################## Header ##################################*/
header{
    min-height: 100vh;
    background-color:#efeeea;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}
nav .logo{
    font-weight: bold;
    flex: 1;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
}
nav ul li{
    padding: 10px;
}
nav ul a{
    color: black;
    font-size: 15px;
    position: relative;
}
nav ul a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0px;
    background-color: black;
    transition: .3s;
}
nav ul a:hover::before{
    width: 100%;
}
.login{
    position: absolute;
    right: 0;
}
.login span{
    margin-right: 5px;
    font-size: 15px;
}
.login button{
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.login button:hover{
    background-color: transparent;
    color: black;
}
.menue{
    visibility: hidden;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
@media (max-width:991px){
    .content{
        flex-direction: column;
    }
    .info{
        order: 2;
    }
    .image{
        order: 1;
        min-width: 100% !important;
        background-image: url(../Assets/HeroTablet.png) !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }
}
@media (max-width:767px){
    .image{
        background-image: url(../Assets/HeroMobile.png) !important;
        background-repeat: no-repeat !important;
        min-height: 325px !important;
    }
    nav ul{
        display: none;
    }
    .login{
        display: none;
    }
    .menue{
        visibility: visible;
    }
    .info h1{
        font-size: 35px !important;
    }
}
.info h1{
    font-size: 55px;
    line-height: 1.2;
}
.info p{
    margin: 15px 0 5px 0;
    color: #666;
    line-height: 1.5;
}
.info ul{
    margin: 15px 0 30px 0;
}
.info li{
    margin-bottom: 10px;
}
.info li img {
    width: 15px;
    margin-right: 10px;
}
.info form{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.info input[type=email]{
    padding: 10px;
    border: 1px solid #666;
    caret-color: #999;

}
.info input[type=email]:focus{
    outline: none;
}
.info input[type=email]::placeholder{
    color: #999;
}
.info input[type=button]{
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.info input[type=button]:hover{
    background-color: transparent;
    color: black;
}
.image{
    min-width: 328px;
    background-image: url(../Assets/HeroDesktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin-bottom: 20px;
}
/*####################### Brands #################################*/
.brands{
    margin: 30px 0;
}
.brands .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brands .container img{
    width: 85px;
}
@media (max-width:991px){
    .brands .container .tablet{
        display: none;
    }
}
@media (max-width:767px){
    .brands .container .mobile{
        display: none;
    }
}
/* ################### Pricing #################### */
.pricing {
    background-color:#efeeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 60px 60px 0 60px;
    margin-bottom: 30px;
    border-radius: 6px;
    position: relative;
}
@media (max-width:991px){
    .pricing{
        flex-direction: column;
        gap: 0;
    }
    .pricing img{
        display: none;
    }
    .pricing .img{
        background-image: url(../Assets/PhoneTablet.png);
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        width: 115% !important;
    }
    .pricing .pricing-info{
        margin: none !important;
    }
}
@media (max-width:767px){
    .pricing .img{
        background-image: url(../Assets/PhoneMobile.png);
        max-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        background-position-x: center;
        max-width: 232px !important;
    }
    .pricing .pricing-info a{
        margin-bottom: 0 !important;
    }
    .pricing .pricing-info h2{
        font-size: 30px !important;
    }
}
.pricing .pricing-info{
    z-index: 1;
}
.pricing .pricing-info h2{
    font-size: 45px;
    line-height: 1.2;
}
.pricing .pricing-info p{
    color: #666;
    line-height: 1.5;
    margin: 10px 0 20px 0;
}
.pricing .pricing-info a{
    color: #444;
    font-weight: bold;
    display: block;
    transition: .3s;
    position: relative;
    width: fit-content;
    margin-bottom: 30px;
}.pricing .pricing-info a::before{
    content: "";
    position: absolute;
    left: 0;
    background-color: #444;
    bottom: 0;
    width: 100%;
    height: 2px;
    transition: .3s;
}
.pricing .pricing-info a:hover{
    transform: translateX(-5px);
}
.pricing .pricing-info a:hover::before{
    width: 0;

}
.pricing .img{
    width: 100%;

}
.pricing img{
    max-width: 80%;
    max-height: 95%;
    /* display: block; */
    position: absolute;
    bottom: 0;
    left: 19%;
}

/* .pricing .img{
    width: 300px;
    height: 300px;
    background-image: url(../Assets/PhoneDesktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    
} */